@charset "UTF-8";


@media screen and (min-width:769px ) and (max-width:1400px){

    div.container-nav-2{
        display: none;
    }

    header{
        padding: 15px;
        display: block;
    }

    header > h1#hi-item-desktop{
        display: block;
        text-align: center;
        text-shadow: 2px 2px 2px black;
        letter-spacing: 2px;
        font-size: 6em;
    }

    header > p#p-item-desktop{
        display: block;
        margin-top: -10px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        color: #D8D8D8;
        font-size: 22px;
        font-family:Arial, Helvetica, sans-serif;
    } 

    header > #h1-item-mobile{
        display: none;
    }

    nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 30px;
    }

     nav > div.links-options > a{
        font-size: 1.3em;
        letter-spacing: 0px;
        padding: 5px;
        margin: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' ;
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.719);
        transition: 0.5s ease;
     }

     nav > div.links-options > a:hover{
        color: #00E656;
        
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.562);
        border-radius: 10px;
        background-color: #04681A;


     }


            
     nav > div.links-options{
        display: block;
    }

}